.container
img(src= "aim.jpg",width="100%").round
.container
    .row
        .col-md-3
        .col-md-6
            .center.h4
                |Select Interiors Limited is one of the UK's most accomplished specialist contractors, with a reputation for delivering some of the most demanding and complex projects within our industry.
    .row
        .col-md-2
        .col-md-8        
            .center.h5
                |The needs of our clients and the level of sector expertise they have come to rely upon from Select Interiors remains the key driver for our business. By placing this strategy at the forefront of our business development we have established ourselves as the contractor of choice for some of the industry's most prestigious clients, developers and construction firms.
.container-fluid.gray
    br
    .row
        .h2.center
            |PROJECTS
    br
    .row
        .col-md-1
        .col-md-10
            img(src= "proj.jpg",width="100%").round.center
    br
    .row
        .h3.center
            |<u>View All</u>
    br
.container
    br
    .row
        .h2.center
            |SECTORS
    br
    br
    br
.container-fluid.blue
    .row
        .col-md-2
        .col-md-3   
            .h1
                |CONTACT US
                br
            .h4
                |<bold>Head Office</bold>
                br
            .h5
                |Select Interiors Limited
                br
                |Select House
                br
                |Station Road
                br
                |Old Harlow
                br
                |Essex
                br
                |CM17 0AW
            br
        .col-md-1
        .col-md-5
            br
            br
            br
            .h5
                |Tel: 01279 421474
                br
                |Email: reception@selectinteriorslimited.com
            .row
                .col-md-6
                    form
                        input(type="text",placeholder="Name")
                        br
                        input(type="text",placeholder="Email")
                        br
                        input(type="text",placeholder="Subject")
                .col-md-6
                    form
                        textarea(placeholder="Message")
br
br



