script(type='text/javascript').
    document.getElementById("home").style.color = '#4276b8';
.container-fluid
    .row
        .container-fluid.nopadding
            #myCarousel.carousel.slide(data-ride='carousel',data-interval=3000)
                  ol.carousel-indicators
                    li.active(data-target='#myCarousel', data-slide-to='0')
                    |                     
                    li(data-target='#myCarousel', data-slide-to='1')
                    |                     
                    li(data-target='#myCarousel', data-slide-to='2')
                  // Wrapper for slides
                  .carousel-inner(role='listbox')
                    .item.active
                      img(src='images/slide1de.jpg',width="100%")
                    |                     
                    .item
                      img(src='images/slide2de.jpg',width="100%")
                    |                     
                    .item
                      img(src='images/slide3de.jpg',width="100%")
                  // Left and right controls
                  //- a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                  //-   span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                  //-   |                     
                  //-   span.sr-only Previous
                  //- |                   
                  //- a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                  //-   span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                  //-   |                     
                  //-   span.sr-only Next
        br
        .container
            br
            .row
                .col-md-3
                .col-md-6
                    .center.h4.line
                        |Select Interiors Limited is one of the UK's most accomplished specialist contractors, with a reputation for delivering some of the most demanding and complex projects within our industry.
            br
            .row
                .col-md-2
                .col-md-8        
                    .center.h5.line
                        |The needs of our clients and the level of sector expertise they have come to rely upon from Select Interiors remains the key driver for our business. By placing this strategy at the forefront of our business development we have established ourselves as the contractor of choice for some of the industry's most prestigious clients, developers and construction firms.
            br
        br
        .container-fluid.gray
            br
            .center
              .h2
                |RECENT PROJECTS
                !=partial("_partials/accordian")
              .h3
                a(href='projects') View More
            br
        !=partial("_partials/footer")
