.container-fluid
    .row
        .col-md-4
        .col-md-4
            .row
                .col-xs-4
                    h4.leftalign
                        b
                            |Residential
                .col-xs-4
                    h4.centeralign
                        |Commercial
                .col-xs-4
                    h4.rightalign
                        |Educational
        
        img(src='images/bluecross.png' width='0%')
    .row
        .col-md-4.nopadding
            .holland
        .col-md-4.nopadding
            a(href='ballymore')
                .ballmoore
        .col-md-4.nopadding
            .panpen
br
br