script(type='text/javascript').
    document.getElementById("projects").style.color = '#4879bf';
.container
    .row
        .container.shiftup
            .col-md-4
            .col-md-4
                .row
                    .col-sm-4
                        h4.leftalign
                            b Residential
                    .col-sm-4
                        h4.centeralign
                            |Commercial
                    .col-sm-4
                        h4.rightalign
                            |Educational
        
    .row
        .col-md-4.projpad
            .plus
                img(src='images/hollandwide.jpg', width='100%').hover
            .container-fluid.gray
                .padtext
                    p.
                       Example Project
                    p.smaller.
                       Residential | Stratford, London E15            
        .col-md-4.projpad
            a(href='ballymore')
                .plus
                    img(src='images/ballmoorewide.jpg', width='100%').hover
            .container-fluid.gray
                .padtext
                    p.
                       Example Project
                    p.smaller.
                       Residential | Stratford, London E15    
        .col-md-4.projpad
            a(href='panpen')
                .plus
                    img(src='images/panpenwide.jpg', width='100%').hover
            .container-fluid.gray
                .padtext
                    p.
                       Example Project
                    p.smaller.
                       Residential | Stratford, London E15    
    .row
        .col-md-4.projpad
            .plus
                img(src='images/royalwide1.jpg', width='100%').hover
            .container-fluid.gray
                .padtext
                    p.
                       Example Project
                    p.smaller.
                       Residential | Stratford, London E15    
        .col-md-4.projpad
            .plus
                img(src='images/royalwide2.jpg', width='100%').hover
            .container-fluid.gray
                .padtext
                    p.
                       Example Project
                    p.smaller.
                       Residential | Stratford, London E15    
        .col-md-4.projpad
            .plus
                img(src='images/woodberrywide.jpg', width='100%').hover
            .container-fluid.gray
                .padtext
                    p.
                       Example Project
                    p.smaller.
                       Residential | Stratford, London E15    
    .row
        .col-md-4.projpad
            .plus
                img(src='images/marinewide.jpg', width='100%').hover
            .container-fluid.gray
                .padtext
                    p.
                       Example Project
                    p.smaller.
                       Residential | Stratford, London E15    
        .col-md-4.projpad
            .plus
                img(src='images/royalwarfwide.jpg', width='100%').hover
            .container-fluid.gray
                .padtext
                    p.
                       Example Project
                    p.smaller.
                       Residential | Stratford, London E15    
        .col-md-4.projpad
            .plus
                img(src='images/stockwellwide.jpg', width='100%').hover
            .container-fluid.gray
                .padtext
                    p.
                       Example Project
                    p.smaller.
                       Residential | Stratford, London E15    
br
br