script(type='text/javascript').
    document.getElementById("projects").style.color = '#428bca';
.container-fluid
    .row
        .col-md-4
        .col-md-4
            .row
                .col-xs-4
                    h4.leftalign
                        b Residential
                .col-xs-4
                    h4.centeralign
                        |Commercial
                .col-xs-4
                    h4.rightalign
                        |Educational
        
    .row
        .col-md-4.nopadding
            .plus
                img(src='images/hollandwide.jpg', width='100%').hover                
        .col-md-4.nopadding
            a(href='ballymore')
                .plus
                    img(src='images/ballmoorewide.jpg', width='100%').hover   
        .col-md-4.nopadding
            .plus
                img(src='images/panpenwide.jpg', width='100%').hover   
    .row
        .col-md-4.nopadding
            .plus
                img(src='images/royalwide1.jpg', width='100%').hover   
        .col-md-4.nopadding
            .plus
                img(src='images/royalwide2.jpg', width='100%').hover   
        .col-md-4.nopadding
            .plus
                img(src='images/woodberrywide.jpg', width='100%').hover   
    .row
        .col-md-4.nopadding
            .plus
                img(src='images/marinewide.jpg', width='100%').hover   
        .col-md-4.nopadding
            .plus
                img(src='images/royalwarfwide.jpg', width='100%').hover   
        .col-md-4.nopadding
            .plus
                img(src='images/stockwellwide.jpg', width='100%').hover   
br
br