.container-fluid
    .center
        h2 PROJECTS
    .row
        .col-md-4.nopadding
            .holland
        .col-md-4.nopadding
            a(href='ballymoore')
                .ballmoore
        .col-md-4.nopadding
            .panpen
br
br