.container-fluid.blue
    .row
        .col-xs-2
        .col-xs-3   
            .h1
                |CONTACT US
                br
            .h4
                |<bold>Head Office</bold>
                br
            .h5
                |Select Interiors Limited
                br
                |Select House
                br
                |Station Road
                br
                |Old Harlow
                br
                |Essex
                br
                |CM17 0AW
            br
        .col-xs-1
        .col-xs-5
            br
            br
            br
            .h5.wrap
                |Tel: 01279 421474
                br
                |Email: reception@selectinteriorslimited.com
            .row
                .col-md-6
                    form
                        textarea(placeholder="Message")
                .col-md-6
                    form
                        input(type="text",placeholder="Name")
                        br
                        input(type="text",placeholder="Email")
                        br
                        input(type="text",placeholder="Subject")
                        br
                        input(value="Submit",type="button")
                br
        .col-md-1
br
br


