.container-fluid
    .row
        .col-md-1.col-sm-1.hidden-xs
        .col-md-5.col-sm-8.col-xs-12
            img(src= "images/select.jpg",width="55%").contain
            .small
                br
            .row
                .col-md-2.col-xs-2
                    .center
                        a(href='index')#home.btn.btn-link.menu
                                |Home
                .col-md-2.col-xs-2
                    .center
                        .menu
                            .btn-group
                                    a#dropdownMenu1.btn.btn-link.menu.dropdown-toggle(href='about', type='button', data-hover='dropdown',data-hoverDelay=10, aria-haspopup='true', aria-expanded='true')
                                        #about 
                                            |About
                                            span.caret
                                    ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                                        li
                                          a(href='#') Clients
                                        li
                                          a(href='#') Policies

                .col-md-2.col-xs-2
                    .center
                            a(href='projects')#projects.btn.btn-link.menu
                                |Projects
                .col-md-2.col-xs-2
                    .center
                        a(href='index')#sectors.btn.btn-link.menu
                                |Sectors
                .col-md-2.col-xs-2
                    .center
                        a(href='index')#contact.btn.btn-link.menu
                                |Contact
br


