.container-fluid
    .row
        .col-md-1.hidden-xs
        .col-md-10.col-xs-12
            .row
                .col-md-3.nopadding
                    a(href='index')
                        img(src= "images/select.png",width="100%",style="margin-top: -6px;")
                .col-md-9.col-xs-12.nopadding
                        .menublock
                            a(href='index')#home.btn.btn-link.menu
                                    |Home
                        .menublock
                            .btn-group
                                    a#dropdownMenu1.btn.btn-link.menu.dropdown-toggle(href='about', type='button', data-hover='dropdown',data-hoverDelay=10, aria-haspopup='true', aria-expanded='true')
                                        #about 
                                            |About
                                    ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                                        li
                                          a(href='about#clients') Clients
                                        li
                                          a(href='about#policies') Policies

                        .menublock
                            a(href='projects')#projects.btn.btn-link.menu
                                    |Projects
                        .menublock
                            a(href='index')#sectors.btn.btn-link.menu
                                    |Sectors
                        .menublock
                            a(href='contact')#contact.btn.btn-link.menu
                                    |Contact
br


