.container-fluid
    .row
        .col-md-1.hidden-xs
        .col-md-10.col-xs-12
            .row
                .col-md-3.nopadding
                    a(href='../')
                        img(src= "images/select.png",width="100%",style="margin-top: -6px;")
                .col-xs-1.hidden.visible-sm.visible-xs     
                .col-md-1.col-xs-2.nopadding
                    .center
                        a(href='index')#home.btn.btn-link.menu
                                |Home
                .col-md-1.col-xs-2.nopadding
                    .center
                            .btn-group
                                    a#dropdownMenu1.btn.btn-link.menu.dropdown-toggle(href='about', type='button', data-hover='dropdown',data-hoverDelay=10, aria-haspopup='true', aria-expanded='true')
                                        #about 
                                            |About
                                    ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                                        li
                                          a(href='about#clients') Clients
                                        li
                                          a(href='about#policies') Policies

                .col-md-1.col-xs-2.nopadding
                    .center
                            a(href='projects')#projects.btn.btn-link.menu
                                |Projects
                .col-md-1.col-xs-2.nopadding
                    .center
                        a(href='index')#sectors.btn.btn-link.menu
                                |Sectors
                .col-md-1.col-xs-2.nopadding
                    .center
                        a(href='contact')#contact.btn.btn-link.menu
                                |Contact

br


