.container
    .row
        .row
            .col-md-1.col-sm-1.hidden-xs
            .col-md-5.col-sm-8.col-xs-12
                .row
                    img(src= "select.jpg",width="55%").contain
                .small
                    br
                .row.fscale
                    .col-md-2.col-xs-2
                        .center
                            |Home
                    .col-md-2.col-xs-2
                        .center
                            |About
                    .col-md-2.col-xs-2
                        .center
                            |Projects
                    .col-md-2.col-xs-2
                        .center
                            |Sectors
                    .col-md-2.col-xs-2
                        .center
                            |Policies
                    .col-md-2.col-xs-2
                        .center
                            |Contact    
br


