.container-fluid
    .row
        .col-md-1.col-sm-1.hidden-xs
        .col-md-5.col-sm-8.col-xs-12
            img(src= "images/select.jpg",width="55%").contain
            .small
                br
            .row.fscale
                .col-md-2.col-xs-2
                    .center
                        a(href='index')
                            #home.menu
                                |Home
                .col-md-2.col-xs-2
                    .center
                        a(href='index')
                            #about.menu
                                |About
                .col-md-2.col-xs-2
                    .center
                        a(href='projects')
                            #projects.menu
                                |Projects
                .col-md-2.col-xs-2
                    .center
                        a(href='index')
                            #sectors.menu
                                |Sectors
                .col-md-2.col-xs-2
                    .center
                        a(href='index')
                            #policies.menu
                                |Policies
                .col-md-2.col-xs-2
                    .center
                        a(href='index')
                            #contact.menu
                                |Contact
br


