.container-fluid.blue.tel
            br
            br
            .huge.center.thinline.
                01279 421474
            .big.center.
                reception@selectinteriorslimited.co.uk
            br
            br